.gnav {
	background: #222222;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	transform: translate(0, -100%);
	transition: all 0.3s ease-in-out;

	&.open {
		transform: translate(0, 0);
	}

	&__item {

		@include mq(){
			display: inline-block;
		}
	}
	&__link {
		padding: 20px;
		display: block;
		text-decoration: none;
		color: #ffffff;
	}
}
